<ion-header>
  <ion-toolbar>
    <ion-title>
      Palavras-chave
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let keyword of keywords">
      <ion-label class="ion-text-wrap">
        {{ keyword.text }}
      </ion-label>

      <ion-note slot="start" class="score">
        <ion-button fill="none" (click)="voteUp(keyword)">
          <ion-icon
            [color]="keyword.userVote > 0 ? 'success' : 'medium'"
            md="md-arrow-round-up"
            ios="ios-arrow-up"
          ></ion-icon>
        </ion-button>

        {{ keyword.score }}

        <ion-button fill="none" (click)="voteDown(keyword)">
          <ion-icon
            [color]="keyword.userVote < 0 ? 'danger' : 'medium'"
            md="md-arrow-round-down"
            ios="ios-arrow-down"
          ></ion-icon>
        </ion-button>
      </ion-note>

      <div
        slot="end"
        class="options ion-activatable"
        (click)="presentKeywordOptions(keyword)"
      >
        <ion-icon name="more"></ion-icon>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button routerLink="new">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
