ion-list.ios {
  padding-bottom: 44px;
}

ion-list.md {
  padding-bottom: 76px;
}

ion-item {
  .score, .options {
    display: flex;
    align-items: center;
  }

  .score {
    flex-direction: column;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 5em;

    &.ios {
      font-size: 12px;
    }
  }

  .options {
    font-size: 1.2em;
    padding: 0.5em;
    position: relative;
  }
}
