<ion-header>
  <ion-toolbar>
    <ion-title>
      Compartilhar Lista
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let item of items">
      <ion-item *ngIf="item.url; else actionItem" [routerLink]="[item.url]">
        <ion-icon slot="start" [name]="item.icon"></ion-icon>
        <ion-label>
          {{ item.title }}
        </ion-label>
      </ion-item>
      <ng-template #actionItem>
        <ion-item button (click)="item.handler()">
          <ion-icon slot="start" [name]="item.icon"></ion-icon>
          <ion-label>
            {{ item.title }}
          </ion-label>
        </ion-item>
      </ng-template>
    </ng-container>
  </ion-list>
</ion-content>
