<ion-header>
  <ion-toolbar>
    <ion-title>
      Compartilhar Lista
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let item of items">
      <ion-item *ngIf="item.url; else actionItem" [routerLink]="[item.url]">
        <ion-icon *ngIf="item.icon; else customIcon" slot="start" [name]="item.icon"></ion-icon>
        <ion-label>
          {{ item.title }}
        </ion-label>
      </ion-item>

      <ng-template #actionItem>
        <ion-item button (click)="item.handler()">
          <ion-icon *ngIf="item.icon; else customIcon" slot="start" [name]="item.icon"></ion-icon>
          <ion-label>
            {{ item.title }}
          </ion-label>
        </ion-item>
      </ng-template>

      <ng-template #customIcon>
        <ion-icon slot="start" [src]="item.iconSrc"></ion-icon>
      </ng-template>
    </ng-container>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-list class="ion-activatable" routerLink="access">
    <ion-list-header>
      Quem pode acessar
    </ion-list-header>

    <ion-item *ngIf="owner; else accessSkeleton" lines="none">
      <ion-avatar slot="start" class="owner">
        <ion-img [src]="owner.person?.image || '/assets/images/dummy-img.png'"></ion-img>
      </ion-avatar>

      <ion-label *ngIf="users.length === 0 && anonymous === 0; else others">
        Só você
      </ion-label>

      <ng-template #others>
        <div class="others">
          <ion-avatar *ngFor="let user of users">
            <ion-img [src]="user.person.image || '/assets/images/dummy-img.png'"></ion-img>
          </ion-avatar>
        </div>
        <ion-avatar *ngIf="anonymous > 0" slot="end" class="anonymous">
          +{{ anonymous }}
        </ion-avatar>
      </ng-template>
    </ion-item>

    <ng-template #accessSkeleton>
      <ion-item lines="none">
        <ion-avatar slot="start" class="owner">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
      </ion-item>
    </ng-template>

    <ion-ripple-effect></ion-ripple-effect>
  </ion-list>
</ion-footer>
