<ion-header>
  <ion-toolbar>
    <ion-title>
      Compartilhar lista
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let item of items">
      <ion-item *ngIf="item.url; else actionItem" [routerLink]="[item.url]">
        <ion-icon slot="start" [name]="item.icon"></ion-icon>
        <ion-label>
          {{ item.title }}
        </ion-label>
      </ion-item>

      <ng-template #actionItem>
        <ion-item button (click)="item.handler()">
          <ion-icon slot="start" [name]="item.icon"></ion-icon>
          <ion-label>
            {{ item.title }}
          </ion-label>
        </ion-item>
      </ng-template>
    </ng-container>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-list *ngIf="owner; else dummy" class="ion-activatable" routerLink="access">
    <ion-list-header>
      Quem pode acessar
    </ion-list-header>

    <ion-item lines="none">
      <app-user-avatar slot="start" class="owner" [user]="owner"></app-user-avatar>

      <ion-label *ngIf="users.length === 0 && anonymous === 0; else others">
        Só você
      </ion-label>

      <ng-template #others>
        <div class="others">
          <app-user-avatar *ngFor="let user of users" class="small" [user]="user"></app-user-avatar>
        </div>
        <ion-avatar *ngIf="anonymous > 0" slot="end" class="anonymous">
          +{{ anonymous }}
        </ion-avatar>
      </ng-template>
    </ion-item>

    <ion-ripple-effect></ion-ripple-effect>
  </ion-list>

  <ng-template #dummy>
    <ion-list>
      <ion-list-header>
        Quem pode acessar
      </ion-list-header>

      <ion-item lines="none">
        <ion-avatar slot="start" class="owner">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-footer>
