<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ list ? 'Editar lista' : isFirst ? 'Primeira lista' : 'Nova lista' }}
    </ion-title>

    <ion-buttons *ngIf="!isFirst" slot="start">
      <ion-back-button icon="close" defaultHref="/lists"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="form.onSubmit()" [disabled]="!listForm.valid">
        OK
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    #form="ngForm"
    class="ion-padding"
    [formGroup]="listForm"
    (ngSubmit)="onSubmit()"
  >
    <ion-fab-button
      *ngIf="listForm.get('image').value as image; else addImage"
      color="light"
      (click)="presentImageModal()"
    >
      <ion-img [src]="image" alt=""></ion-img>
    </ion-fab-button>
    <ng-template #addImage>
      <ion-fab-button color="medium" (click)="selectImage()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ng-template>

    <ion-item lines="inset">
      <ion-label position="floating">
        Nome
      </ion-label>
      <ion-input
        autofocus
        clearInput
        formControlName="name"
        maxlength="30"
        required
      ></ion-input>
    </ion-item>
    <app-input-message [field]="listForm.get('name')">
      Como quer chamar a sua lista?
    </app-input-message>
  </form>

  <input
    #fileInput
    type="file"
    accept="image/*"
    (change)="changeImage($event)"
  >
</ion-content>

<ion-footer *ngIf="isFirst">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerDirection="root" routerLink="/lists">
        Pular
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
