section {
  display: grid;
  align-content: center;
  grid-gap: 1.25em;
  margin: 0 auto;
  height: 100%;
  max-width: 14em;
  text-align: center;
}

ion-skeleton-text {
  --size: calc(14em - 32px);

  height: var(--size);
  width: var(--size)
}

.spinner {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100%;
}
