<ion-header>
  <ion-toolbar>
    <ion-title>
      Código QR
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="ion-padding">
    <ion-img *ngIf="qrcode; else dummy" class="qrcode" [src]="qrcode" alt=""></ion-img>

    <ng-template #dummy>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ng-template>

    <ng-container *ngIf="code">
      <ion-label>
        Problema na leitura?<br>
        Use o código abaixo:
      </ion-label>

      <ion-button
        class="clipboard"
        color="light"
        expand="block"
        size="large"
      >
        {{ code }}
      </ion-button>
    </ng-container>
  </section>
</ion-content>
