<ion-header>
  <ion-toolbar>
    <ion-title>
      Código QR
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons *ngIf="userIsOwner" slot="end">
      <ion-button (click)="presentQrCodeOptions()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section *ngIf="isQrCodeEnabled && code; else isLoading" class="ion-padding">
    <ion-img *ngIf="qrcode; else dummy" class="qrcode" [src]="qrcode" alt=""></ion-img>

    <ng-template #dummy>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ng-template>

    <ng-container>
      <ion-label>
        Problema na leitura?<br>
        Use o código abaixo:
      </ion-label>

      <ion-button
        class="clipboard"
        color="light"
        expand="block"
        size="large"
      >
        {{ code }}
      </ion-button>
    </ng-container>
  </section>

  <ng-template #isLoading>
    <div *ngIf="isQrCodeEnabled !== false; else qrCodeIsDisabled" class="spinner">
      <ion-spinner></ion-spinner>
    </div>
  </ng-template>

  <ng-template #qrCodeIsDisabled>
    <app-emptystate>
      O código QR está desativado

      <ion-icon slot="top" name="qr-code-off"></ion-icon>

      <div slot="bottom">
        <p *ngIf="userIsOwner">
          Você pode reativar acessando as opções.
        </p>
        <p *ngIf="!userIsOwner">
          Peça ao dono da lista para ativar.
        </p>
      </div>
    </app-emptystate>
  </ng-template>
</ion-content>
