<ion-header>
  <ion-toolbar>
    <ion-title>
      Código QR
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="ion-padding">
    <ion-img class="qrcode" src="/assets/images/dummy-img.png"></ion-img>

    <ion-label>
      Problema na leitura?<br>
      Use o código abaixo:
    </ion-label>

    <ion-button color="light" expand="block" size="large">
      {{ code }}
    </ion-button>
  </section>
</ion-content>
