ion-header ion-toolbar {
  padding-right: 4px;
}

.searchbar {
  background: rgba(var(--ion-color-medium-rgb), 0.125);
  border-radius: 10px;

  &.ios {
    --padding-start: var(--padding-end);
  }
}

app-emptystate {
  --emptystate-p-width: 80vw;
}

ion-list {
  contain: style;
}

.add-product ion-fab-button {
  --box-shadow: none;
  --size: 40px;

  margin-right: 16px;
  height: var(--size);
  width: var(--size);

  &.ios {
    --size: 36px;
  }
}

ion-item-divider {
  position: sticky;
  top: 0;
}
