<ion-header>
  <ion-toolbar>
    <ion-title>
      Minhas listas
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher
    *ngIf="lists"
    slot="fixed"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-emptystate *ngIf="lists?.length === 0">
    Você ainda não tem listas

    <ion-icon slot="top" name="clipboard"></ion-icon>

    <div *ngIf="!isLogged" slot="bottom">
      <p>
        Crie uma ou conecte sua conta.
      </p>
      <ion-button fill="clear" routerLink="/login">
        Fazer Login
      </ion-button>
    </div>

    <div *ngIf="isLogged" slot="bottom">
      <p>
        Crie uma tocando no botão de mais.
      </p>
    </div>
  </app-emptystate>

  <ion-list *ngIf="lists?.length > 0">
    <ion-item *ngFor="let list of lists" [routerLink]="list.id">
      <ion-avatar slot="start">
        <ion-img [src]="list.image || '/assets/images/dummy-img.png'" alt=""></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>
          {{ list.name }}
        </h2>
        <p *ngIf="list.products.length > 0; else emptyList">
          {{ countChecked(list) }} de {{ list.products.length }}
        </p>
        <ng-template #emptyList>
          <p>
            Lista vazia
          </p>
        </ng-template>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!lists">
    <ion-item *ngFor="let dummy of ' '.repeat(10).split('')">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h2>
          <ion-skeleton-text animated width="50%"></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated width="30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab *ngIf="lists" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="new">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
