<ion-header>
  <ion-toolbar>
    <ion-title>
      Minhas listas
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-emptystate *ngIf="lists?.length === 0">
    Você ainda não tem listas

    <ion-icon slot="top" name="clipboard"></ion-icon>

    <div *ngIf="!isLogged" slot="bottom">
      <p>
        Crie uma ou conecte sua conta.
      </p>
      <ion-button routerLink="/login">
        Fazer Login
      </ion-button>
    </div>

    <div *ngIf="isLogged" slot="bottom">
      <p>
        Crie uma tocando no botão de mais.
      </p>
    </div>
  </app-emptystate>

  <ion-list *ngIf="lists?.length > 0">
    <ion-item *ngFor="let list of lists">
      <ion-avatar slot="start">
        <ion-img [src]="list.img || '/assets/images/dummy-img.png'" alt=""></ion-img>
      </ion-avatar>
      <ion-label>
        {{ list.name }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="new">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
