<ion-header>
  <ion-toolbar>
    <ion-title>
      Quem pode acessar
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="presentAccessOptions()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngIf="owner; else dummy">
      <ion-item class="owner">
        <app-user-avatar slot="start" [user]="owner"></app-user-avatar>

        <ion-label *ngIf="owner.person; else anonymousUser">
          <h2>
            {{ owner.person.name }}
          </h2>
          <p>
            {{ owner.person.email }}
          </p>
        </ion-label>

        <ng-template #anonymousUser>
          <ion-label>
            Usuário anônimo
          </ion-label>
        </ng-template>

        <ion-note slot="end">
          Dono
        </ion-note>
      </ion-item>

      <ion-item *ngFor="let user of users">
        <app-user-avatar slot="start" [user]="user"></app-user-avatar>

        <ion-label>
          <h2>
            {{ user.person.name }}
          </h2>
          <p>
            {{ user.person.email }}
          </p>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="isAnonymousAllowed && anonymous > 0" class="anonymous">
        <ion-avatar slot="start">
          +{{ anonymous }}
        </ion-avatar>

        <ion-label>
          {{ anonymous === 1 ? 'Usuário anônimo' : 'Usuários anônimos' }}
        </ion-label>
      </ion-item>
    </ng-container>

    <ng-template #dummy>
      <ion-item class="owner">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>

        <ion-label>
          <h2>
            <ion-skeleton-text animated width="60%"></ion-skeleton-text>
          </h2>
          <p>
            <ion-skeleton-text animated width="40%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ng-template>
  </ion-list>
</ion-content>
