<ion-header>
  <ion-toolbar>
    <ion-title>
      <span *ngIf="list; else titleSkeleton">
        {{ list.name }}
      </span>
      <ng-template #titleSkeleton>
        <ion-skeleton-text animated width="50%"></ion-skeleton-text>
      </ng-template>
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lists"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button *ngIf="list" (click)="presentListOptions()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="list; else dummy">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ng-container *ngIf="list.products.length > 0; else emptystate">
      <ion-card *ngIf="!swipeTutorial">
        <ion-card-content>
          Você pode marcar os produtos que já adquiriu deslizando para o lado.
        </ion-card-content>

        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button color="primary" (click)="confirmSwipeTutorial()">
              Entendi
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-card>

      <ion-list>
        <ion-item-sliding *ngFor="let product of list.products">
          <app-product-item
            [button]="true"
            [product]="product"
            [routerLink]="['/products', product.id]"
            [showChecked]="true"
            [showDetails]="true"
          ></app-product-item>
          <ion-item-options
            *ngFor="let side of ['start', 'end']" [side]="side"
            (ionSwipe)="swipeProduct(product)"
          ></ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ng-container>

    <ng-template #emptystate>
      <app-emptystate>
        Sua lista está vazia

        <ion-icon slot="top" name="basket"></ion-icon>

        <div slot="bottom">
          <p>
            Os produtos adicionados aparecerão aqui.
          </p>
        </div>
      </app-emptystate>

      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button routerLink="/products" [queryParams]="{ list: list.id }">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ng-template>
  </ng-container>

  <ng-template #dummy>
    <ion-list>
      <ion-item *ngFor="let dummy of ' '.repeat(10).split('')">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h2>
            <ion-skeleton-text animated width="60%"></ion-skeleton-text>
          </h2>
          <p>
            <ion-skeleton-text animated width="40%"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-note slot="end">
          <div>
            <ion-skeleton-text animated width="2em"></ion-skeleton-text>
          </div>
          <div>
            <ion-skeleton-text animated width="4em"></ion-skeleton-text>
          </div>
        </ion-note>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>

<ion-footer *ngIf="list && list.products.length > 0">
  <ion-toolbar>
    <ion-label class="ion-padding-start">
      {{ countChecked(list) }} de {{ list.products.length }}
    </ion-label>
  </ion-toolbar>

  <ion-fab vertical="top" horizontal="end" edge>
    <ion-fab-button routerLink="/products" [queryParams]="{ list: list.id }">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>
