<ion-header>
  <ion-toolbar>
    <ion-title>
      <span *ngIf="list; else titleSkeleton">
        {{ list.name }}
      </span>
      <ng-template #titleSkeleton>
        <ion-skeleton-text animated width="50%"></ion-skeleton-text>
      </ng-template>
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lists"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher
    *ngIf="list"
    slot="fixed"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-emptystate *ngIf="list && list.products.length === 0">
    Sua lista está vazia

    <ion-icon slot="top" name="basket"></ion-icon>

    <div slot="bottom">
      <p>
        Os produtos adicionados aparecerão aqui.
      </p>
    </div>
  </app-emptystate>

  <ion-list *ngIf="list && list.products.length > 0">
    <ion-item *ngFor="let product of list.products">
      <ion-avatar slot="start">
        <ion-img [src]="product.img || '/assets/images/dummy-img.png'" alt=""></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>
          {{ product.name }}
        </h2>
        <p *ngIf="product.store; else productHint">
          <ion-icon name="pin"></ion-icon>
          {{ product.store }}
        </p>
        <ng-template #productHint>
          <p *ngIf="product.hint">
            {{ product.hint }}
          </p>
        </ng-template>
      </ion-label>
      <ion-note slot="end">
        <div *ngIf="product.amount !== undefined">
          {{ product.amount }} {{ product.unit }}
        </div>
        <div *ngIf="product.price !== undefined">
          {{ product.currency }} {{ product.price }}
        </div>
      </ion-note>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!list">
    <ion-item *ngFor="let dummy of ' '.repeat(10).split('')">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h2>
          <ion-skeleton-text animated width="60%"></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated width="40%"></ion-skeleton-text>
        </p>
      </ion-label>
      <ion-note slot="end">
        <div>
          <ion-skeleton-text animated width="2em"></ion-skeleton-text>
        </div>
        <div>
          <ion-skeleton-text animated width="4em"></ion-skeleton-text>
        </div>
      </ion-note>
    </ion-item>
  </ion-list>

  <ion-fab
    *ngIf="list && list.products.length === 0"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button routerLink="/products" [queryParams]="{ list: list.id }">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer *ngIf="list && list.products.length > 0">
  <ion-toolbar>
    <ion-label class="ion-padding-start">
      {{ countChecked(list) }} de {{ list.products.length }}
    </ion-label>
  </ion-toolbar>

  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button routerLink="/products" [queryParams]="{ list: list.id }">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>
