<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ list?.name }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lists"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let product of list.products">
      <ion-avatar slot="start">
        <ion-img [src]="product.img || '/assets/images/dummy-img.png'" alt=""></ion-img>
      </ion-avatar>
      <ion-label>
        {{ product.name }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
