ion-title ion-skeleton-text {
  line-height: inherit;
}

app-emptystate {
  --emptystate-p-width: 60vw;
}

ion-list {
  ion-note {
    align-self: center;
    padding: 0;
    text-align: end;

    ion-skeleton-text {
      margin-left: auto;
    }

    &.md div + div {
      margin-top: 0.375em;
    }
  }
}
